<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Navbar and Form</title>
    <link rel="stylesheet" href="/css/editBlog.css">
</head>
<body>

    <!-- Navbar importing from navbar.ejs-->
    <%- include("components/navbar.ejs")  %>
    <!-- Form Section -->
    <div class="form-container">
        <h2>Update your Blog Title, Subtitle and Description.</h2>
        <!-- UTaa app.js maa banako /createBlog yeta action maa call gareko -->
        <form action="/editBlog/<%- blog[0].id %>" method="post">
            <label for="title">Title</label>
            <input type="text" value = "<%- blog[0].title %>"id="title" name="title" placeholder="Enter the title" required>

            <label for="subtitle">Subtitle</label>
            <input type="text" value = "<%- blog[0].subTitle %>" id="subtitle" name="subtitle" placeholder="Enter the subtitle" required>

            <label for="description">Description</label>
            <textarea id="description"  name="description" placeholder="Enter the description" required><%- blog[0].description %></textarea>

            <input type="submit" value="Submit">
            <button style="padding: 10px ; background: #000; color: white; border-radius: 10px; margin-top: 5px;"><a href="/single/<%- blog[0].id %>"></a>cancel</button>
        </form>
    </div>


    <%- include("components/footer.ejs")  %>


    <script>
        function toggleMenu() {
            const navbarMenu = document.getElementById('navbar-menu');
            if (navbarMenu.classList.contains('show-menu')) {
                navbarMenu.classList.remove('show-menu');
            } else {
                navbarMenu.classList.add('show-menu');
            }
        }
    </script>

</body>
</html>
