<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Navbar and Cards</title>
    <link rel="stylesheet" href="/css/myBlogs.css">
</head>

<body>
    <!-- Navbar importing from navbar.ejs-->
    <%- include("components/navbar.ejs") %>
    <h1>MyBlogs</h1>

    <div class="container">
        <%myBlogs.length > 0 && myBlogs.forEach((blog)=>{ %>
            <div class="card">
                <h2><%- blog.title  %></h2>
                <h><%- blog.subTitle  %></h3>
                <img src="<%= blog.image %>" alt="" height="300" width="300" style="display: block; margin: auto;">
                <p><%- blog.description  %></p>

                <p>Written by: <%- blog.user.username %></p>
                <p>Published on: <%- blog.user.createdAt.toISOString().split('T')[0] %></p>
                <a href="/single/<%- blog.id %>">Read More</a>
            </div>
       <% }) %>




    </div>
    <%- include("components/footer.ejs") %>
</body>

</html>