<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Navbar and Blog Page</title>
    <link rel="stylesheet" href="/css/singleBlogs.css">
</head>
<body>

    <!-- Navbar importing from navbar.ejs-->
    <%- include("components/navbar.ejs")  %>
    <!-- Blog Page Section...aaha hamile blog[0] nai kina gareko vaney
    hamile pahile id maa aauta specific blog ko data mageko 
    tyo mageko data aautai aayo aani teslai page maa dekhaudaa pani
    index 0 nai huni vayo. -->
    <div class="blog-container">
        <h2><%- blog[0].title %></h2>
        <h3><%- blog[0].subTitle %></h3>
        <p><%- blog[0].description %></p>
        <div>
            published on <%- blog[0].createdAt.toISOString().slice(0,10)%>
        </div>
        <div>
            Author : <%- blog[0].user.username %>
        </div>
        <button> <a href="/delete/<%- blog[0].id %>">Delete</a></button>
        <button> <a href="/edit/<%- blog[0].id %>">Update</a></button>
    </div>


    <%- include("components/footer.ejs")  %>

    

    <script>
        function toggleMenu() {
            const navbarMenu = document.getElementById('navbar-menu');
            if (navbarMenu.classList.contains('show-menu')) {
                navbarMenu.classList.remove('show-menu');
            } else {
                navbarMenu.classList.add('show-menu');
            }
        }
    </script>

</body>
</html>
